{% extends 'core/base.html' %} 

{% block title %}Acerca de{% endblock %} 

{% block background %} {% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %} 

{% block header %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %} 

{% block content %}
<div class = "row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.png' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Joaquín Lobos</h2>   
        <p>Soy una persona entusiasta, pro-activo, comprometido y dispuesto a realizar el trabajo con buena disposición, de forma asertiva para poder entregar un trabajo de mayor calidad como lo requieren los clientes.</p>
        <p>Poseo título nivel medio en electrónica y estoy finalizando la carrera de Analista Programador, ádemas tengo conocimientos en hardware y en programación:</p>
        <li> JAVA, PLSQL, SQL</li>
        <li> Python, framework Django para desarrollo Web, bootstrap, js</li>
        <p>Y algunos conocimientos en gestión de requisitos, calidad de software y arquitectura de software.</p>
    </div>
</div>
{% endblock %}